.box {
  align-items: center;
  height: 100vh;
}

.noti {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.card-footer {
  width: inherit;
}
.content {
  font-size: 22px;
}
.red {
  color: red;
  font-weight: bold;
}
.gray {
  color: gray;
}
.green {
  color: green;
  font-weight: bold;
}
