<div class="box columns is-centered">
  <form class="card">
    <h1 class="title card-header">Typing Challenge</h1>
    <div class="card-content">
      <p class="content block">
        <span [class]="compare(char,enterText[i])"
          *ngFor="let char of random_Text.split('');let i=index">{{char}}</span>
      </p>
    </div>
    <input class="card-footer input is-link input-text" type="text" (input)="onInput($event.target)"
      placeholder="Write correct text above">
    <div class="message noti">

      <div class="message-header" *ngIf="enterText== random_Text">
        <p>Success</p>
      </div>

    </div>
  </form>
</div>