<div class="box columns is-centered">
  <form class="card">
    <h1 class="title card-header">Typing Challenge</h1>
    <div class="card-content">
      <p class="content block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iste natus, debitis
        expedita similique culpa.
        Obcaecati nostrum, voluptas officia animi sint fugiat ea ipsam corporis qui impedit quae cupiditate modi.</p>
    </div>
    <input class="card-footer input is-link" type="text" placeholder="Write correct text above">
    <div class="message noti">
      <article>
        <div class="message-header">
          <p>Success</p>
        </div>
      </article>
    </div>
  </form>
</div>